@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
  --color-primary: #7b3f00;
  --color-secondary: #f8f5f2;
  --color-accent: #cba135;
  --color-text-primary: #2b2b2b;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-text-primary);
    background-color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    color: var(--color-text-primary);
  }
}

.nav-link {
  position: relative;
  color: var(--color-text-primary);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--color-primary);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
